@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary-fixed: #d4e4fa;
  --color-on-tertiary-container: #465468;
  --color-on-secondary-fixed: #324054;
  --color-inverse-on-surface: #565555;
  --color-on-secondary: #122133;
  --color-on-tertiary-fixed-variant: #505e73;
  --color-surface-container-low: #131313;
  --color-background: #0e0e0e;
  --color-primary-dim: #abbad0;
  --color-on-primary-container: #c2d2e8;
  --color-secondary: #909fb6;
  --color-surface-dim: #0e0e0e;
  --color-on-primary-fixed-variant: #4e5d6f;
  --color-error-container: #7f2927;
  --color-tertiary-fixed-dim: #cad8f0;
  --color-surface-tint: #b9c8de;
  --color-surface-variant: #252626;
  --color-error-dim: #bb5551;
  --color-on-secondary-fixed-variant: #4e5c71;
  --color-outline-variant: #484848;
  --color-surface-container: #191a1a;
  --color-on-tertiary: #4f5d71;
  --color-tertiary-dim: #cad8f0;
  --color-on-secondary-container: #b2c0d9;
  --color-primary-fixed-dim: #c6d6ec;
  --color-on-surface: #e7e5e5;
  --color-error: #ee7d77;
  --color-on-surface-variant: #acabaa;
  --color-on-primary-fixed: #324052;
  --color-outline: #767575;
  --color-secondary-fixed-dim: #c7d5ee;
  --color-on-primary: #334153;
  --color-on-error-container: #ff9993;
  --color-inverse-primary: #526073;
  --color-primary-container: #39485a;
  --color-inverse-surface: #fcf9f8;
  --color-primary: #b9c8de;
  --color-surface-bright: #2b2c2c;
  --color-on-tertiary-fixed: #344255;
  --color-surface-container-highest: #252626;
  --color-surface-container-lowest: #000000;
  --color-on-error: #490106;
  --color-surface: #0e0e0e;
  --color-tertiary-fixed: #d8e6ff;
  --color-secondary-fixed: #d5e3fd;
  --color-tertiary-container: #d8e6ff;
  --color-surface-container-high: #1f2020;
  --color-tertiary: #eff4ff;
  --color-secondary-dim: #909fb6;
  --color-on-background: #e7e5e5;
  --color-secondary-container: #2e3c50;

  /* FONTS */
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  /* BORDER RADIUS */
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}